<%- include('../partials/head', { title: title, permalink: permalink, robots: 'index, nofollow' }); %>
<main>
  <div class="container">
    <img src="/images/logo.svg" alt="Portway Logo" width="85" />
    <h2>Change your password</h2>
    <% if (flash) { %>
    <p class="flash flash--<%= flash.type %>"><%= flash.message %></p>
    <% } %>
    <div id="passwordResetForm" class="registration__form">
      <!-- React form -->
    </div>
  </div>
</main>
<%- include('../partials/footer', { supportLink: options.supportLink }); %>
<%- include('../partials/foot'); %>