<%- include('../partials/head', { title: title, permalink: permalink, robots: 'index, nofollow' }); %>
<%- include('../partials/navigation'); %>
<main class="section">
  <div class="container">
    <h1 class="title">Complete your registration</h1>
    <% if (flash) { %>
    <p class="flash flash--<%= flash.type %>"><%= flash.message %></p>
    <% } %>
    <form class="login-form" action="/sign-up/registration/complete" method="POST">
      <div class="section">
        <div class="field">
          <label class="label is-small" for="organization">Organization name</label>
          <div class="control">
            <input class="input" name="organization" id="org-name" type="text" placeholder="ACME, Inc" autocomplete="section-signup organization" value="<%= locals.orgName %>">
          </div>
        </div>
      </div>
      <div class="section">
        <p>You're almost there! Pick a strong password to finish the last step.</p>
        <div class="field">
          <label class="label is-small" for="password">Password</label>
          <div class="control">
            <input class="input" name="password" id="password" type="password" placeholder="" autocomplete="section-signup new-password">
          </div>
        </div>
        <div class="field">
          <label class="label is-small" for="confirm-password">Confirm password</label>
          <div class="control">
            <input class="input" name="confirm-password" id="confirm-password" type="password" placeholder="" autocomplete="section-signup new-password">
            <p id="password-help" class="help is-danger" hidden>Your passwords don't match</p>
          </div>
        </div>
        <div class="field field--with-space">
          <%
            if (typeof button === 'undefined') {
              var button = 'Complete registration'
            }
          %>
          <input type="hidden" id="email" name="token" value="<%= token %>">
          <input type="submit" id="complete-btn" class="button is-primary" value="<%= button %>">
        </div>
      </div>
    </form>
  </div>
</main>
<%- include('../partials/foot'); %>
