<%- include('../partials/head', { title: title, permalink: permalink, robots: 'index, nofollow' }); %>
<%- include('../partials/navigation'); %>
<main class="section registration">
  <div class="container">
    <h1 className="title">Complete your registration</h1>
    <% if (flash) { %>
      <p class="flash flash--<%= flash.type %>"><%= flash.message %></p>
    <% } %>
    <div id="registrationForm" class="registration__form">
      <!-- React form -->
    </div>
  </div>
</main>
<%- include('../partials/foot'); %>
