<%- include('partials/head', { title: title, robots: 'noindex, nofollow' }); %>
<main>
  <div class="container">
    <img src="/images/logo.svg" alt="Portway Logo" width="85" />
    <h1 class="title"><%= message %></h1>
    <h2 class="subtitle"><%= error.status %></h2>
    <pre><%= error.stack %></pre>
  </div>
</main>
<%- include('partials/footer', {
  privacyLink: options.privacyLink,
  supportLink: options.supportLink,
  termsLink: options.termsLink,
  websiteLink: options.websiteLink,
}); %>
<%- include('partials/foot'); %>


