<%- include('partials/head', { title: title, robots: 'noindex, nofollow' }); %>
<%- include('partials/navigation'); %>
<main class="section">
  <div class="container">
    <h1 class="title"><%= message %></h1>
    <h2 class="subtitle"><%= error.status %></h2>
    <pre><%= error.stack %></pre>
  </div>
</main>
<%- include('partials/foot'); %>


