<%- include('partials/head', { title: title, permalink: permalink, robots: 'index, nofollow' }); %>
<%- include('partials/navigation'); %>
<main class="hero is-info is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <% if (typeof disableSignup !== 'undefined' && disableSignup === true) { %>
        <%- include('partials/login'); %>
      <% } else { %>
        <%- include('partials/sign-up'); %>
      <% } %>
    </div>
  </div>
</main>
<%- include('partials/foot'); %>
